<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Consulta de Clientes</h1>
</div>

<div class="row">
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text"
                                class="form-control"
                                [(ngModel)]="pesquisa"
                                placeholder="Pesquisar Clientes"
                            >
                        </div>
                    </div>
                </div>

                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Nome do Cliente</th>
                            <th>CPF</th>
                            <th>Email</th>
                            <th width="100">Operações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of clientes | filter: pesquisa | paginate : { itemsPerPage : 5, currentPage : page }"> 
                            <td>{{item.nome}}</td>
                            <td>{{item.cpf}}</td>
                            <td>{{item.email}}</td>
                            <td>
                                <button class="btn btn-danger btn-sm" 
                                    (click)="obterCliente(item.idCliente)"  
                                    data-target="#janela_exclusao"
                                    data-toggle="modal">
                                    <i class="fa fa-trash"></i>
                                </button>
                                &nbsp;
                                <button class="btn btn-primary btn-sm"
                                     (click)="obterCliente(item.idCliente)"
                                     data-target="#janela_edicao" 
                                     data-toggle="modal">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                Total de clientes: {{clientes.length}}
                            </td>
                        </tr>
                    </tfoot>
                </table>

                <pagination-controls (pageChange)="handlePageChange($event)"
                    previousLabel="Anterior"
                    nextLabel="Próximo">
                </pagination-controls>

            </div>
        </div>
    </div>
</div>

<!-- Janela modal para exclusão de clientes -->
<div id="janela_exclusao" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Cliente</h5>
            </div>
            <div class="modal-body">
                
                <div *ngIf="mensagemSucesso" class="alert alert-success">
                    <strong>Sucesso!</strong> {{mensagemSucesso}}
                    </div>
                    <div *ngIf="mensagemErro" class="alert alert-danger">
                    <strong>Erro!</strong> {{mensagemErro}}
                </div>

                <p>Deseja realmente excluir o cliente selecionado?</p>
                Nome do Cliente: <strong>{{cliente.nome}}</strong>
                <br/>
                CPF: <strong>{{cliente.cpf}}</strong>
                <br/>
                Email: <strong>{{cliente.email}}</strong>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger"
                (click)="excluirCliente(cliente.idCliente)">
                    <i class="fa fa-trash"></i> Confirmar Exclusão
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Janela modal para atualizar cliente -->
<div id="janela_edicao" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Atualizar Cliente</h5>
            </div>
            <div class="modal-body">

                <div *ngIf="mensagemSucesso" class="alert alert-success">
                    <strong>Sucesso!</strong> {{mensagemSucesso}}
                    </div>
                    <div *ngIf="mensagemErro" class="alert alert-danger">
                    <strong>Erro!</strong> {{mensagemErro}}
                </div>

                <form #formEdicao="ngForm"
                    (submit)="atualizarCliente(formEdicao)">

                    <!-- Campo Oculto-->
                    <input type="hidden"
                        name="idCliente"[(ngModel)]="cliente.idCliente"/>

                    <div class="row">
                        <div class="col-md-8">
                            <label>Nome do Cliente:</label>
                            <input type="text" class="form-control" 
                                name="nome"[(ngModel)]="cliente.nome"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>CPF:</label>
                            <input type="text" class="form-control" readonly
                                name="cpf"[(ngModel)]="cliente.cpf"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label>Email:</label>
                            <input type="text" class="form-control"
                            name="email" [(ngModel)]="cliente.email"/>
                        </div>
                    </div>
                    <br />
                    <div class="text-right">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Fechar</button>
                        &nbsp;
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-edit"></i> Salvar Alterações
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>